*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}
.wrapper{
    background-color: #121116;
}
.footer{
    width: 1200px;
    height: 420px;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.main-logo{
text-align: center;
padding-top: 120px;
}
.tagline{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 50px;
    font-weight: 400;
}
.separator-line{
    text-align: center;
    padding-top: 3px;
}
.logos{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 150px;
    height: 20px;
    margin: 21px auto 0;
}
.logos__img{
    padding-right: 30px;
}
.logos__img:last-child{
    padding-right: 0px;
}
.copyright{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 15px;
    padding-top: 86px;
}
.copyright__aqua{
    color: #19c8fa;
}